@import url(./estilos/cabecalho.css);
@import url(./estilos/banners.css);
@import url(./estilos/produtos.css);
@import url(./estilos/rodape.css);
@import url(./estilos/checkout.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-principal: arial, sans-serif;
    --font-secundaria: 'Helvetica Neue', sans-serif;
    --background-principal: #ffffff;
    --background-secundario: rgb(247, 247, 247);
    --preto: rgb(0,0,0);
    --vermelho: #ff0000;
}

body {
    font-family: var(--font-principal);
}

[data-menu= "abrir"] {
    display: flex;
}

[data-menu= "fechar"] {
    display: none;
}
