.rodape {
    background: rgb(20, 20, 20);
    color: var(--background-principal);
    padding: 2rem;
}

.rodape a {
    text-decoration: none;
    color: var(--background-principal);
}

.container-rodape {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 2rem 0;
}

.rodape-linha {
    height: 1px;
    background: var(--background-principal);
}

.lista-categorias li, .lista-menus li {
    list-style: none;
}

.titulo-lista {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.item_lista-categorias {
    font-size: 12px;
    list-style: none;
}

.item_lista-menus {
    font-size: 16px;
    padding: 0 0 0.5rem 0;
}

.dev-link {
    font-size: 16px;
    text-align: center;
}

.rodape a:hover, .topo-btn:hover, .item_lista-menus:hover, .item_lista-categorias:hover {
    text-decoration: underline;
}

.rodape a, .topo-btn, .item_lista-menus, .item_lista-categorias {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    
    .container-rodape {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 40px;
    }

    .rodape-linha {
        display: none;
    }

    .item_lista-categorias {
        font-size: 16px;
        text-decoration: none;
    }
}